          .title {
                color: rgb(150, 22, 22);
                text-shadow: 4px 4px 9px #000000;
                text-align: center;
                font-size: 100px;
                font-family: 'Cormorant SC', serif;
                font-weight: 700;
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translateX(-50%)translateY(-50%);
                margin-top: 20px;
            }
            
            .p-text{
                color: rgb(255, 255, 255);
                text-align: center;
                text-shadow: 4px 4px 9px #000000;
                font-size: 20px;
                font-family: 'Cormorant SC', serif;
                font-family: 'Roboto Slab', serif;
                font-weight: 500;
                position: absolute;
                top: 58%;
                left: 50%;
                transform: translateX(-50%)translateY(-50%);
                margin-top: 20px;
            }
          
            
            ul {
                display: table; 
                margin: 0 auto;
                text-align: left;
             }


/*For styling*/


*{
  margin:0;
  padding:0;
  font-family:verdana;
}
#abc{
  width:100%;
  height:100vh;
  background-image: url(img2.jpg);
  background-size: cover;
}
nav{
  width: 100%;
  height: 50px;
  line-height: 50px;
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  text-shadow: 4px 4px 9px #000000;
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}
nav ul li:hover{
  background-color:#d04343;
  border-radius: 10px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 30px;
}
