body {
  background-color: #121212;
}

.title {
                color: rgb(146, 26, 26);
                text-shadow: 4px 4px 9px #000000;
                text-align: center;
                font-size: 100px;
                font-family: 'Cormorant SC', serif;
                font-weight: 700;
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translateX(-50%)translateY(-50%);
                margin-top: 20px;
                user-select: none
}
            
.p-text{
                color: rgb(255, 255, 255);
                text-align: center;
                text-shadow: 4px 4px 9px #000000;
                font-size: 20px;
                font-family: 'Cormorant SC', serif;
                font-family: 'Roboto Slab', serif;
                font-weight: 500;
                position: absolute;
                top: 58%;
                left: 50%;
                transform: translateX(-50%)translateY(-50%);
                margin-top: 20px;
}
          
            
ul {
                display: table; 
                margin: 0 auto;
                text-align: left;
  }


/*For styling*/

.imageContainer > img:hover {
  width: 1000px;
  height: 600px;
}

*{
  margin:0;
  padding:0;
  font-family:verdana;
}
#abc{
  width:100%;
  height:100vh;
  background-image: url(img2.jpg);
  background-size: cover;
}
nav{
  position: fixed;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  text-shadow: 4px 4px 9px #000000;
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}
nav ul li:hover{
  background-color:#d04343;
  border-radius: 10px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  padding: 30px;
}

.UpTitle {
                color: rgb(150, 22, 22);
                text-shadow: 4px 4px 9px #474747;
                text-align: center;
                font-size: 80px;
                font-family: 'Cormorant SC', serif;
                font-weight: 700;
                position: absolute;
                top: 10%;
                left: 50%;
                transform: translateX(-50%)translateY(-50%);
                margin-top: 20px;
}



header {
    background: #333;
    width: 100%;
}
.global-nav {
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    background-color:#F3F3F3;
    line-height: 40px;
    position: relative;
}
.global-nav ul {
    padding: 10px 0;
    margin: 0;
}
.global-nav li {
    display: inline-block;
}
.nav-link a {
    padding: 20px;
    color: #000000;
    text-decoration: none;
}
.nav-link:hover {
    background-image: #F3F3F3;
    color: #000000;
}
.nav-left {
    position: absolute;
    left: 10px;
    top: 10px;
}

h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 200px;
  margin: 0;
}












iframe {
  max-width: 100%;
}


.container {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.dark-bg {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.light-bg {
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}




div.hero-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 500px;
  display: grid;
  place-items: center;
  padding: 50px;
  color: white;
  text-align: center;
}


div.hero-box .content {
  max-width: 450px;
}

.content {
  padding: 50px 15px;
}

.content .content-title {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
}

div.carousel {
  margin-bottom: 50px;
  margin-top: 50px;
}

div.carousel-cell {
  width: 75%;
  height: 500px;
  margin-right: 10px;
  border-radius: 5px;
}

div.cards {
  display: flex;
  justify-content: space-between;
}

div.card {
  width: 30%;
  background: #dedede;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s;
}

div.card:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

div.card .content p {
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
}

div.card img {
  min-height: 30%;
  width: 100%;
  object-fit: cover;
}

div.image-card {
  width: 24%;
  height: 250px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s;
}

div.image-card .content-title {
  font-size: 20px;
}

.content-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.content-section .content {
  padding: 15px;
}

.content-section .content,
.content-section .images {
  width: 49%;
}

.content-section .images img {
  width: 49%;
  min-width: 100px;
}

.content-section-2 {
  align-items: flex-start;
}

.content-section-2 .content {
  padding-top: 0;
}

.content-section-2 .images {
  display: flex;
  flex-flow: row wrap;
}

.content-section-2 .images img {
  height: 120px;
  width: 50%;
  min-width: unset;
  object-fit: cover;
}

.content-section-2 .images img:first-of-type {
  width: 100%;
  height: 250px;
}

.content-section-3,
.content-section-4 {
  justify-content: center;
  text-align: center;
}

.content-section-3 .content,
.content-section-4 .content {
  min-width: 450px;
}

.content-section-3 .content ol,
.content-section-4 .content ol,
.content-section-5 .content ol {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-left: 0;
}

.carousel.gallery-slider .carousel-cell {
  height: 150px;
  width: 33%;
  border-radius: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel.gallery-slider .carousel-cell img {
  height: 100%;
  object-fit: cover;
}

.content-section-5 .object-wrapper {
  width: 49%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-bottom: 200px;
  font-family: 'Roboto', sans-serif;
}

iframe {
  max-width: 100%;
}

p {
  font-weight: 400;
}

h1 {
  font-size: 250px;
}

h2 {
  font-size: 35px;
}

.container {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.dark-bg {
  background: rgb(129, 129, 129);
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

.light-bg {
  background: rgb(243, 243, 243);
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}

div.hero-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 500px;
  display: grid;
  place-items: center;
  padding: 50px;
  color: white;
  text-align: center;
}

div.hero-box .content {
  max-width: 450px;
}

.content {
  padding: 50px 15px;
}

.content .content-title {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
}

div.cards {
  display: flex;
  justify-content: space-between;
}

div.card {
  width: 30%;
  background: rgb(240, 240, 240);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s;
}

div.card:hover {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

div.card .content p {
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
}

div.card img {
  min-height: 30%;
  width: 100%;
  object-fit: cover;
}


div.image-card {
  width: 24%;
  height: 250px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s;
}

div.image-card .content-title {
  font-size: 20px;
  color: white;
}

.content-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.content-section .content {
  padding: 15px;
}

.content-section .content,
.content-section .images {
  width: 49%;
}

.content-section .images img {
  width: 49%;
  min-width: 100px;
}
