.title {
                color: rgb(150, 22, 22);
                text-shadow: 4px 4px 9px #000000;
                text-align: center;
                font-size: 100px;
                font-family: 'Cormorant SC', serif;
                font-weight: 700;
                position: absolute;
                top: 25%;
                left: 50%;
                transform: translateX(-50%)translateY(-50%);
                margin-top: 20px;
            }
            
.p-text{
                color: rgb(255, 255, 255);
                text-align: center;
                text-shadow: 4px 4px 9px #000000;
                font-size: 20px;
                font-family: 'Cormorant SC', serif;
                font-family: 'Roboto Slab', serif;
                font-weight: 500;
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translateX(-50%)translateY(-50%);
                margin-top: 20px;
            }
            
body { 
                background-image:url('https://media.discordapp.net/attachments/983337280339071046/1002295462986006581/train.gif?width=480&height=270');
                background-repeat:repeat; 
                background-size: cover;
                }
            
ul {
                display: table; 
                margin: 0 auto;
                text-align: left;
             }
